@import url(/app/font/import.css);

* {
	margin: 0;
	padding: 0;

	outline: none;

	--color-black: rgb(0 0 0);
	--color-black-0625: rgba(0 0 0 / 0.0625);
	--color-black-125: rgba(0 0 0 / 0.125);
	--color-black-5: rgba(0 0 0 / 0.5);
	--color-gray: rgb(127 127 127);
	--color-gray-dark: rgb(63 63 63);
	--color-white: rgb(255 255 255);
	--color-white-247: rgb(247 247 247);
	--color-white-223: rgb(223 223 223);
	--color-white-207: rgb(207 207 207);
	--color-blue: rgb(0 159 255);
	--color-blue-dark: rgb(0 127 223);
	--color-blue-light: rgb(63 191 255);
	--color-yellow: rgb(255 223 63);
	--color-yellow-dark: rgb(255 191 31);
	--color-yellow-light: rgb(255 255 223);
	--color-red: rgb(239 0 0);
}

::placeholder {
	color: var(--color-gray);

	opacity: 1;
}

::selection {
	background: var(--color-yellow);

	color: var(--color-black);
}

html {
	height: 100%;
}

body {
	display: flex;

	min-height: 100%;
}

body,
button,
select,
input,
textarea {
	color: var(--color-black);
	font: 12px Roboto;
	line-height: 16px;
}

sup,
sub {
	font-size: 10px;
	line-height: 8px;
}

ul {
	list-style: none;
}

a {
	color: var(--color-blue);
	text-decoration: none;

	transition: 250ms ease opacity;
	cursor: pointer;
}

a:not(:has(img)):hover,
a:not(:has(img)):focus {
	opacity: 0.5;
}

a > img {
	display: block;
}

a:has(img[_image]) {
	position: relative;
	overflow: hidden;

	box-shadow: 0 0 transparent;

	transition: 250ms ease box-shadow, 250ms ease transform;
}

a:has(img[_image]):hover,
a:has(img[_image]):focus {
	box-shadow: 0 2px 8px var(--color-black-5);
	-filter: drop-shadow(0 2px 8px var(--color-black-5));

	transform: perspective(12px) rotateX(0.5deg) rotateY(-0.25deg);
}

a:has(img[_image]):hover:active {
	transform: perspective(12px) rotateX(0.5deg) rotateY(-0.25deg) translateZ(-1px);
}

a:has(img[_image]):after {
	content: '';

	position: absolute;
	top: -96px;
	left: -96px;

	width: 192px;
	height: 192px;

	background: radial-gradient(closest-side,
		white,
		transparent
	);

	opacity: 0;
	transition: 250ms ease opacity;
	transform: translate(calc(var(--x, 0)*1px), calc(var(--y, 0)*1px));
}

a:has(img[_image="big"]):after {
	top: -192px;
	left: -192px;

	width: 384px;
	height: 384px;
}

a:has(img[_image]):hover:after {
	opacity: 0.33;
}

a[_button],
button,
select,
input[type="text"],
input[type="password"],
textarea {
	min-height: 24px;

	padding: 4px 6px;

	transition: 125ms ease background, 125ms ease box-shadow, 125ms ease color, 125ms ease opacity;
}

a[_button] {
	box-sizing: border-box;
}

a[_button],
button,
select {
	background: none;
	border: none;
	box-shadow: inset 0 0 0 1px var(--color-white-223);

	color: var(--color-blue);

	cursor: pointer;
}

a[_button]:hover,
a[_button]:focus,
button:hover,
button:focus,
select:hover,
select:focus {
	background: var(--color-white-247);
	box-shadow: inset 0 0 0 1px var(--color-white-207);
}

a[_button]:hover,
a[_button]:focus {
	opacity: 1;
}

/*
a[_button]:active,
button:active,
select:active {
	background: rgb(244, 244, 244);
	box-shadow: inset 0 0 0 1px rgb(187, 187, 187);
}
*/

a[_button],
button {
	position: relative;
}

a[_button]:before,
button:before {
	content: '';

	position: absolute;
	top: 50%;
	left: 50%;

	width: calc(100% - 8px);
	height: 1px;

	background: var(--color-blue);

	transition: 250ms ease transform;
	transform: translateX(-50%) scaleX(0);
}

a[_button][toggled_]:before,
button[toggled_]:before {
	transform: translateX(-50%) scaleX(1);
}

a[_button][primary_],
button[primary_] {
	background-image: linear-gradient(to bottom,
		var(--color-white-247),
		var(--color-white-223)
	);
	box-shadow: inset 0 0 0 1px var(--color-white-207);

	color: var(--color-black);
}

a[_button][primary_]:hover,
a[_button][primary_]:focus,
button[primary_]:hover,
button[primary_]:focus {
	opacity: 0.75;
}

button[primary_]:before {
	background: var(--color-black);
}

a[_button][icon_] {
	padding: 4px;
}

a[_button][icon_]:after {
	content: '';

	display: block;

	width: 16px;
	height: 16px;
}

a[_button][icon_="to_first"]:after {
	background: url(/app/image/button.svg);
}

a[_button][icon_="to_back"]:after {
	background: url(/app/image/button.svg) 0 -16px;
}

a[_button][icon_="to_random"]:after {
	background: url(/app/image/button.svg) 0 -32px;
}

a[_button][icon_="to_forward"]:after {
	background: url(/app/image/button.svg) 0 -48px;
}

a[_button][icon_="to_last"]:after {
	background: url(/app/image/button.svg) 0 -64px;
}

[wide_] a[_button],
[wide_] button,
a[_button][wide_],
button[wide_] {
	padding: 4px 12px;
}

select {
	width: max-content;
	max-width: 100%;

	padding: 0 2px;

	color: var(--color-black);
	text-overflow: ellipsis;
}

@supports (-moz-appearance: none) {
	select {
		padding: 0 6px;
	}
}

input[type="checkbox"],
input[type="radio"] {
	width: 12px;
	height: 12px;

	margin-right: -6px;
}

input[type="text"],
input[type="password"],
textarea {
	width: 128px;
	min-width: 24px;
	box-sizing: border-box;

	border: none;
	box-shadow: inset 0 0 0 1px var(--color-white-223);
}

input[type="text"][size_="medium"],
input[type="password"][size_="medium"],
textarea[size_="medium"] {
	width: 192px;
}

input[type="text"][size_="big"],
input[type="password"][size_="big"],
textarea[size_="big"] {
	width: 256px;
}

input[type="text"][size_="large"],
input[type="password"][size_="large"],
textarea[size_="large"] {
	width: 384px;
}

input[type="text"][size_="max"],
input[type="password"][size_="max"],
textarea[size_="max"] {
	width: 100%;
}

textarea {
	height: 24px;
	resize: vertical;
}

textarea[size_="max"] {
	min-height: 256px;
}

/*
@keyframes InputTextFocus {
	0% {
		box-shadow:
			inset 0 0 0 1px var(--color-black-125),
			0 0 0 1px var(--color-yellow);
	}
	50% {
		box-shadow:
			inset 0 0 0 1px var(--color-yellow),
			0 0 0 12px transparent;
	}
	100% {
		box-shadow: inset 0 0 0 1px var(--color-yellow);
	}
}
*/

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	background: var(--color-yellow-light);
	box-shadow: inset 0 0 0 1px var(--color-yellow);

	-animation: InputTextFocus 500ms ease;
}

a[disabled_],
a[_button][disabled_],
button[disabled_],
input[disabled_],
select[disabled_],
textarea[disabled_] {
	opacity: 0.5;

	pointer-events: none;
}

[navigation_] a[_button][disabled_],
[navigation_] button[disabled_] {
	background: var(--color-white-247);

	color: var(--color-black);

	opacity: 1;
}

[_grid] {
	display: grid;
	align-items: start;

	gap: 12px;
}

[_grid~="h"] {
	grid-auto-flow: column;
	grid-auto-columns: minmax(auto, max-content);
}

[_grid~="h"][_grid~="centered"] {
	align-items: center;
}

[_grid~="v"] {
	grid-auto-flow: row;
	grid-auto-rows: minmax(auto, max-content);
}

[_grid~="v"][_grid~="centered"] {
	justify-items: center;
}

[_grid~="stacked"] {
	gap: 0;
}

[_grid~="spaced"] {
	justify-content: space-between;
}

[_grid="padded"] {
	grid-template-columns: 640px 320px;
	justify-content: center;
}

[_grid="list"] {
	grid-auto-flow: row;
	grid-auto-rows: minmax(auto, max-content);

	gap: 0;
}

[_grid="list"] + [_grid="list"] {
	margin-top: 12px;
}

[_grid="list"] > * {
	position: relative;

	padding: 12px 0;
}

[_grid="list"] > [header_] {
	padding-top: 0;
}

[_grid="list"] > :first-child:not([header_]):before,
[_grid="list"] > :not([footer_]):after {
	content: '';

	position: absolute;
	left: 0;
	bottom: 0;

	width: 100%;
	height: 1px;

	background: url(/app/image/dash.svg);
}

[_grid="list"] > :first-child:not([header_]):before {
	top: 0;
	bottom: unset;
}

[_grid="list"] > [header_]:after {
	background: var(--color-black-125);
}

[_grid="list"] > [footer_] {
	padding-bottom: 0;
}

[_flex] {
	display: flex;
	align-items: center;

	gap: 12px;
}

[_flex~="h"] {
	flex-direction: row;
}

[_flex~="h"][_flex~="left"] {
	justify-content: start;
}

[_flex~="h"][_flex~="right"] {
	justify-content: end;
}

[_flex~="v"] {
	flex-direction: column;
}

[_flex~="v"][_flex~="left"] {
	align-items: start;
}

[_flex~="v"][_flex~="center"] {
	align-items: center;
	justify-content: center;

	text-align: center;
}

[_flex~="v"][_flex~="right"] {
	align-items: end;
}

[_flex~="wrap"] {
	flex-wrap: wrap;

	gap: 6px;
}

[_flex~="stacked"] {
	gap: 0;
}

[_wrapper] {
	display: flex;
	flex: 1;
	flex-direction: column;

	-animation: Wrapper 1s ease;
}

/*
@keyframes Wrapper {
	0%		{ opacity: 0; }
	100%	{ opacity: 1; }
}

[_wrapper]:after {
	--width: 64px;
	--height: 64px;

	content: '';

	position: fixed;
	top: calc(50% - var(--width) / 2);
	left: calc(50% - var(--height) / 2);

	width: var(--width);
	height: var(--height);

	background: url(/app/image/loading.svg);

	opacity: 0;
	visibility: hidden;
	transition: 250ms ease opacity, 250ms ease visibility;
	pointer-events: none;
}

body[loading_] [_wrapper]:after {
	opacity: 1;
	visibility: visible;
}
*/

header {
	display: flex;
	flex-direction: column;

	color: var(--color-gray);
}

header [__section] {
	display: flex;
	justify-content: center;

	background: var(--color-white-247);
	box-shadow: inset 0 -1px var(--color-white-207);
}

header [__section]:first-child {
	justify-content: space-between;

	padding: 0 6px;
}

header [__section]:last-child:not(:only-child):not(:has([__image])) {
	background: linear-gradient(to bottom,
		var(--color-white-247),
		transparent
	);
	box-shadow: none;
}

header [__section] [_grid="padded"] {
	flex: 1;
	align-items: center;

	padding: 24px 12px;
}

header [__section]:last-child:not(:only-child) [_grid="padded"] {
	padding-bottom: 12px;
}

header [__menu] {
	display: flex;

	font-size: 14px;
	white-space: nowrap;
}

header [__menu] > * {
	position: relative;

	padding: 6px;
}

header [__menu] > :after {
	content: '';

	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	height: 1px;

	background: var(--color-black);

	transition: 125ms ease transform;
	transform: scaleX(0);
}

header [__menu] > [current_]:after,
header [__menu] > :has([current_]):after {
	transform: scaleX(1);
}

header [__menu] [current_] {
	color: var(--color-black);

	pointer-events: none;
}

header [__menu] [__logo] {
	width: 30px;
	height: 16px;

	padding-right: 0;

	background: url(/app/image/logo.svg) 0 0 / 30px 12px no-repeat content-box;
}

header [__menu] a {
	opacity: 1;
	transition: 125ms ease color;
}

/*
header [__menu] [_user] {
	display: flex;
	align-items: start;
}
*/

header [__menu] [_user] [_badge] {
	margin-left: 3px;

	color: var(--color-red);
	vertical-align: top;
	font-size: 10px;
	line-height: 8px;

	opacity: 1;
}

header [__get] {
	filter: drop-shadow(0px 6px 6px var(--color-black-125));
}

@keyframes HeaderGetWrong {
	0%		{ transform: translateX(0); }
	25%		{ transform: translateX(6px); }
	50%		{ transform: translateX(-6px); }
	75%		{ transform: translateX(6px); }
	100%	{ transform: translateX(0); }
}

header [__get="wrong"] {
	animation: HeaderGetWrong 0.5s ease;
}

header [__get] > *:last-child {
	flex: 1;
}

header [__image] {
	position: relative;

	width: 100%;
	height: 96px;
}

header [__image]:after {
	content: '';

	position: absolute;
	left: 0;
	bottom: 0;

	width: 100%;
	height: 1px;

	background: var(--color-black-125);
}

header [__image] img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

header a[_button],
header button,
header input[type="text"] {
	padding: 6px 12px;

	font-size: 14px;
	line-height: 24px;
}

header input[type="text"] {
	box-shadow:
		inset 0   1px var(--color-white-207),
		inset 1px 0   var(--color-white-207),
		inset 0  -1px var(--color-white-207);
}

header input[type="text"]:focus {
	box-shadow:
		inset 0   1px var(--color-yellow),
		inset 1px 0   var(--color-yellow),
		inset 0  -1px var(--color-yellow);
}

content {
	display: grid;
	flex: 1;
	grid-auto-flow: row;
	grid-auto-rows: minmax(auto, max-content);

	position: relative;

	padding: 12px;
	gap: 12px;

	transition: 250ms ease opacity;
}

body[loading_] content {
	opacity: 0;
	pointer-events: none;
}

[_title] {
	font-size: 18px;
	line-height: 24px;
}

[_title~="small"] {
	font-size: 14px;
	line-height: 16px;
}

[_user] {
	display: flex;

	min-width: 0;

	gap: 6px;

	white-space: nowrap;
}

[_user] > * {
	overflow: hidden;

	text-overflow: ellipsis;
}

label {
	display: flex;

	cursor: pointer;
	user-select: none;
}

label input {
	width: 0;
	height: 0;

	appearance: none;
}

label[_check],
label[_radio] {
	display: flex;
	align-items: center;

	gap: 6px;

	cursor: pointer;
}

label[_check] input,
label[_radio] input {
	position: absolute;

	height: 0;
	width: 0;

	opacity: 0;
}

label[_check] > div:nth-child(2),
label[_radio] > div:nth-child(2)  {
	flex-shrink: 0;

	position: relative;

	width: 12px;
	height: 12px;

	box-shadow: inset 0 0 0 1px var(--color-white-223);

	transition: 125ms ease background, 125ms ease box-shadow, 125ms ease opacity;
}

label[_check]:hover > div:nth-child(2),
label[_check]:focus > div:nth-child(2),
label[_radio]:hover > div:nth-child(2),
label[_radio]:focus > div:nth-child(2) {
	background: var(--color-white-247);
	box-shadow: inset 0 0 0 1px var(--color-white-207);
}

label[_check] > div:nth-child(2):before,
label[_check] > div:nth-child(2):after,
label[_radio] > div:nth-child(2):before {
	content: '';

	position: absolute;

	height: 1px;

	background: var(--color-blue);

	transition: 250ms ease transform;
}

label[_check] > div:nth-child(2):before {
	top: 8px;
	left: 1px;

	width: 5px;

	transform: rotate(45deg) scaleX(1);
}

label[_check] > div:nth-child(2):after {
	top: 6px;
	left: 4px;

	width: 8px;

	transform: rotate(-45deg) scaleX(1);
	transition: 250ms ease 125ms transform;
}

label[_check] > input:not(:checked) ~ div:nth-child(2):before {
	transform: rotate(45deg) scaleX(0);
}

label[_check] > input:not(:checked) ~ div:nth-child(2):after {
	transform: rotate(-45deg) scaleX(0);
}

label[_radio] > div:nth-child(2) {
	border-radius: 50%;
}

label[_radio] > div:nth-child(2):before {
	top: 50%;
	left: 50%;

	width: 6px;
	height: 6px;

	border-radius: 50%;

	transform: translate(-50%, -50%) scale(1);
}

label[_radio] > input:not(:checked) ~ div:nth-child(2):before {
	transform: translate(-50%, -50%) scale(0);
}

label[_check][disabled_],
label[_radio][disabled_] {
	pointer-events: none;
}

label[_check][disabled_] > div:nth-child(2),
label[_radio][disabled_] > div:nth-child(2)  {
	opacity: 0.5;
}

[_captcha] {
	display: flex;
	justify-content: center;

	padding: 12px;

	background: var(--color-blue-light);
	box-shadow: inset 0 0 0 1px var(--color-blue);

	color: var(--color-white);
	font-size: 18px;
	line-height: 24px;
}

[_captcha]:after {
	content: attr(_captcha);
}

[_badge] {
	display: inline-block;

	margin-left: 6px;

	color: var(--color-gray);
	vertical-align: bottom;
}

a[_badge] {
	color: var(--color-blue);

	opacity: 1;
}

a [_badge] {
	color: inherit;

	opacity: 0.5;
}

[fallback_],
[fallback_] * {
	color: var(--color-gray)!important;
}

[important_] {
	color: var(--color-red);
}

[_post] {
	display: block;
}

[_grid~="h"] > [_post] {
	overflow-x: hidden;
}

[_grid~="h"] > [_post]:before {
	content: '';

	display: block;

	width: 16384px;
}

[_table~="list"] [_post] {
	width: 100%;
}

[_post] [__poster] {
	z-index: 1;
	float: left;

	margin-right: 12px;
}

[_post] > *:not(:last-child) {
	margin-bottom: 12px;
}

[_description] {
	word-break: keep-all;
}

[_description~="short"] {
	position: relative;

	max-height: 64px;
	overflow: clip;
}
/*
@supports (-webkit-line-clamp: 4) {
	[_description~="short"] {
		display: -webkit-inline-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
	}
}
*/

ul[_list],
ul[_list] li,
ul[_cells],
ul[_cells] li {
	display: grid;

	gap: 12px;
}

ul[_list] li,
ul[_cells] li {
	box-shadow: inset 0 0 0 1px var(--color-white-223);

	padding: 12px;

	-transition: 250ms ease box-shadow;
}

/*
ul[_list] li:hover,
ul[_cells] li:hover {
	box-shadow:
		inset 0 0 0 1px var(--color-white-223),
		0 3px 6px var(--color-black-0625);
}
*/

ul[_list],
ul[_list] li,
ul[_cells] li {
	grid-auto-flow: row;
	grid-auto-rows: minmax(auto, max-content);
}

ul[_cells] {
	grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
	grid-auto-rows: minmax(auto, max-content);
}

ul[_cells] li {
	align-content: center;
	justify-items: center;
}

ul[_cells] li [_properties] {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	gap: 12px;
}

[_table] {
	display: grid;
	grid-template-columns: var(--columns);

	gap: 12px;
}

[_table] > div {
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: subgrid;
}

[_table] > div > div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: start;

	overflow: hidden;

	word-break: break-word;
}

[_table] > div > div:first-child {
	justify-content: end;
}

[_table] > div > div:not([_flex~="stacked"]) {
	gap: 12px;
}

[_table] > div[header_] > div {
	align-items: end;

	padding-top: 0;

	font-weight: bold;
}

[_table] > div[footer_] > div {
	padding-bottom: 0;
}

[_table] [centered_] {
	justify-content: center!important;
}

[_table] [spanned_] {
	grid-column: 1 / -1;
}

[_table] [_description~="straight"] {
	overflow: hidden;

	text-overflow: ellipsis;
	white-space: nowrap;
}

[_table~="list"] {
	gap: 0;
}

[_table~="list"] > div {
	position: relative;
}

[_table~="list"] > div:first-child:not([header_]):before,
[_table~="list"] > div:not([footer_]):after {
	content: '';

	position: absolute;
	left: 0;
	bottom: 0;

	width: 100%;
	height: 1px;

	background: url(/app/image/dash.svg);
}

[_table~="list"] > div:first-child:not([header_]):before {
	top: 0;
	bottom: unset;
}

[_table~="list"] > div > div {
	justify-content: end;

	padding: 12px 6px;
}

[_table~="list"] > div > div:first-child {
	padding-left: 0;
}

[_table~="list"] > div > div:first-child:not([fallback_]),
[_table~="list"] > div > div:first-child[fallback_] + div {
	justify-content: start;
}

[_table~="list"] > div > div:last-child {
	padding-right: 0;
}

[_table~="list"] > div[header_] select {
	margin: -4px;
	padding: 0;

	box-shadow: none;

	font-weight: inherit;
}

@supports (-moz-appearance: none) {
	[_table~="list"] > div[header_] select {
		margin: -4px 0;
	}
}

[_table~="list"] > div[header_] select:hover,
[_table~="list"] > div[header_] select:focus {
	background: none;

	opacity: 0.5;
}

[_table~="list"] > div[header_] select:has(option:only-child) {
	margin: -4px 0 !important;

	appearance: none;

	opacity: 1;
	pointer-events: none;
}

[switch_]:not([_table~="list"] *):not([switch_="current"]) {
	display: none;
}

[_table~="list"] [switch_]:not([switch_="current"]) {
	width: 0;
	height: 0;

	visibility: hidden;
}

[upload_="progressing"] {
	color: var(--color-gray);
}

[upload_="finished"] {
	color: var(--color-blue);
}

[upload_="failed"] {
	color: var(--color-red);
}

[_icon] {
	flex-shrink: 0;

	width: 16px;
	height: 16px;
}

[_icon="floppy"] {
	background: url(/app/image/icon.svg);
}

[_icon="comment"] {
	background: url(/app/image/icon.svg) 0 -16px;
}

[_icon="error"] {
	width: 32px;
	height: 32px;

	background: url(/app/image/icon.svg) 0 -32px;
}

img[_image] {
	max-width: 96px;
	max-height: 96px;
}

img[_image="big"] {
	max-width: 192px;
	max-height: 192px;
}

img[_image="dynamic"] {
	max-width: 33vw;
	max-height: 33vw;
}

[_avatar] {
	flex-shrink: 0;

	position: relative;

	width: 24px;
	height: 24px;
	overflow: hidden;

	cursor: pointer;
}

[_avatar~="small"] {
	width: 16px;
	height: 16px;
}

[_avatar~="online"] {
	box-shadow: 0 0 0 1px var(--color-blue);
}

[_avatar] img {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 100%;
	height: 100%;
	object-fit: cover;

	transition: 250ms ease width, 250ms ease height;
	transform: translate(-50%, -50%);
}

[_avatar]:hover img,
[_avatar]:focus img {
	width: 150%;
	height: 150%;
}

[_avatar]:after {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	box-shadow: inset 0 0 0 1px var(--color-black-125);
}

[_viewer] {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: fixed;
	top: 40px;
	left: 12px;
	z-index: 1;

	width: 512px;
	height: 288px;
	min-width: 256px;
	min-height: 144px;

	background: var(--color-black);
	box-shadow: 0px 6px 24px var(--color-black-5);

	color: var(--color-white);
}

[_viewer~="closed"] {
	display: none;
}

[_viewer~="minimized"] {
	top: unset;
	left: 50%;
	bottom: 0;

	width: 256px;
	height: auto;
	min-width: 0;
	min-height: 0;

	background: var(--color-gray-dark);
	box-shadow: 0px 6px 12px var(--color-black-5);

	transform: translateX(-50%);
}

[_viewer]:after {
	--width: 64px;
	--height: 64px;

	content: '';

	position: absolute;
	top: calc(50% - var(--width) / 2);
	left: calc(50% - var(--height) / 2);

	width: var(--width);
	height: var(--height);

	background: url(/app/image/viewer_loading.svg);

	opacity: 0;
	visibility: hidden;
	transition: 250ms ease opacity, 250ms ease visibility;
	pointer-events: none;
}

[_viewer~="loading"]:after {
	opacity: 1;
	visibility: visible;
}

[_viewer] [_grid] {
	gap: 16px;
}

[_viewer] [__header],
[_viewer] [__footer] {
	z-index: 1;

	padding: 16px;
}

[_viewer] [__header] {
	background: linear-gradient(to bottom,
		var(--color-black-5),
		transparent
	);
}

[_viewer]:not([_viewer~="minimized"]) [__header] {
	cursor: all-scroll;
}

[_viewer~="minimized"] [__header] {
	background: none;
}

[_viewer] [__footer] {
	position: relative;

	background: linear-gradient(to bottom,
		transparent,
		var(--color-black-5)
	);
}

[_viewer~="minimized"] [__footer],
[_viewer]:not([_viewer~="video"]) [__footer] {
	display: none;
}

[_viewer] [__title] {
	overflow: hidden;

	text-overflow: ellipsis;
}

[_viewer] [__progress] {
	position: absolute;
	left: 16px;
	right: 16px;
	bottom: 100%;

	height: 2px;

	background: rgba(255,255,255,0.25);

	transition: 250ms ease height;
	cursor: pointer;
}

[_viewer]:hover [__progress] {
	height: 4px;
}

[_viewer] [__progress] [__playback] {
	width: 25%;
	height: 100%;

	background: var(--color-blue-dark);
}

[_viewer] button {
	min-width: 16px;
	min-height: 16px;

	padding: 0;

	-webkit-mask: url(/app/image/viewer_button.svg);
	background: var(--color-white);
	box-shadow: none;

	color: var(--color-white);
	font: 16px Viewer;

	transition: 125ms ease background-color;
}

[_viewer] button:hover {
	background-color: var(--color-yellow-dark);
}

[_viewer] button[icon_="minimize"] {
	-webkit-mask-position: 0 0;
}

[_viewer] button[icon_="close"] {
	-webkit-mask-position: 0 -16px;
}

[_viewer] button[icon_="play"] {
	margin: 0 16px;

	-webkit-mask-position: 0 -32px;
}

[_viewer] button[icon_="volume"] {
	-webkit-mask-position: 0 -48px;
}

[_viewer] button[icon_="maximize"] {
	min-width: 24px;

	-webkit-mask-position: 0 -64px;
}

[_viewer] button[icon_="back"] {
	min-width: 24px;

	-webkit-mask-position: 0 -80px;
}

[_viewer] button[icon_="forward"] {
	min-width: 24px;

	-webkit-mask-position: 0 -96px;
}

[_viewer] button[icon_="resize"] {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;

	-webkit-mask: none;
	background: url(/app/image/viewer_button.svg) 0 -112px;

	opacity: 0.25;
	cursor: nw-resize;
}

[_viewer~="minimized"] button[icon_="resize"] {
	display: none;
}

[_viewer] button[disabled_] {
	opacity: 0.25;
}

[_viewer] button:before,
[_viewer] button:after {
	content: none;
}

[_viewer] [__content] {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
}

[_viewer] img,
[_viewer] video {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

[_viewer][_viewer~="minimized"] img,
[_viewer]:not([_viewer~="image"]) img {
	display: none;
}

[_viewer][_viewer~="minimized"] video,
[_viewer]:not([_viewer~="video"]) video {
	display: none;
}

[_progress] {
	position: relative;

	width: 100%;
	height: 8px;
	overflow: hidden;

	background: var(--color-white-223);
}

[_progress] div {
	position: absolute;
	left: 0;

	width: 0;
	height: 100%;

	background: var(--color-blue-dark);
}

[_progress="warning"] div {
	background: var(--color-yellow-dark);
}

[_progress="danger"] div {
	background: var(--color-red);
}

footer,
footer [__section] {
	display: flex;
}

footer {
	justify-content: space-between;

	padding: 0 6px;

	box-shadow: inset 0 1px var(--color-white-223);

	color: var(--color-gray);
	white-space: nowrap;
}

footer [__section] > * {
	padding: 4px 6px;
}

footer a {
	position: relative;

	color: inherit;
}

footer a:hover,
footer a:focus {
	opacity: 1;
}

footer a[current_] {
	pointer-events: none;
}

footer a:after {
	content: '';

	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	height: 1px;

	background: var(--color-gray);

	transition: 125ms ease transform;
	transform: scaleX(0);
}

footer a[current_]:after {
	transform: scaleX(1);
}

footer form {
	display: contents;
}

footer select {
	background: none;
	box-shadow: none;

	color: inherit;
}

footer select:hover,
footer select:focus {
	box-shadow: none;

	opacity: 0.5;
}